<domain type='qemu'>
	<name>{{.Name}}</name>
	<uuid>{{.UUID}}</uuid>
	<memory>{{.Memory}}</memory>
	<vcpu>{{.Cpus}}</vcpu>
	<os>
		<type arch='x86_64' machine='pc'>hvm</type>
		<boot dev='cdrom'/>
	</os>
	<devices>
		<emulator>/usr/bin/qemu-system-x86_64</emulator>
		<disk type='file' device='cdrom'>
			<source file='/root/downloads/{{.Image}}'/>
			<target dev='hdc'/>
			<readonly/>
		</disk>
		<disk type='file' device='disk'>
			<source file='{{.Drive}}'/>
			<target dev='hda'/>
		</disk>
		<interface type='network'>
			<source network='default'/>
		</interface>
		<graphics type='vnc' port='-1'>
			<listen type='address' address='0.0.0.0'/>
		</graphics>
	</devices>
</domain>
